In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplt
%matplotlib inline

In [2]:
A = np.random.randint(low=1, high=101, size=1000, dtype='l')
B = np.random.randint(low=1, high=101, size=1000, dtype='l')
C = np.random.randint(low=1, high=101, size=1000, dtype='l')
D = np.random.randint(low=1, high=101, size=1000, dtype='l')
E = np.random.randint(low=1, high=101, size=1000, dtype='l')
F = np.random.randint(low=1, high=101, size=1000, dtype='l')
G = np.random.randint(low=1, high=101, size=1000, dtype='l')

In [3]:
Class = np.random.randint(low=0, high=2, size=1000, dtype='l')

In [4]:
data_set = pd.DataFrame({'A':A,
                        'B':B,
                        'C':C,
                        'D':D,
                        'E':E,
                        'F':F,
                        'Class':Class})

In [5]:
data_set.head(5)

     A   B   C  Class   D   E   F
0  100  78   2      1  80  19  34
1   12  58  69      1  54  52  73
2   29  63   6      0  36  33  73
3   38  88  89      1  63  97   5
4   52   5  41      1  83  34   9

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
knn = KNeighborsClassifier(n_neighbors=1)

In [9]:
knn.fit(X_train,y_train)

NameError: name 'X_train' is not defined